<div class="layout layout--col layout--left gap--small mbta">
  <div class="flex flex--col gap--xsmall">
    <span class="title">{{ station }}</span>
    <span class="label label--small label--gray">{{ direction }}</span>
  </div>

  {% if trains.size > 0 %}
  {% for train in trains limit:3 %}
  <div class="row row--center-y gap--space-between">
    <span class="value">{{ train.display }}</span>
    <span class="label">{{ train.time }}</span>
  </div>
  {% endfor %}
  {% else %}
  <div class="description">No trains</div>
  {% endif %}

  <div class="divider"></div>
  <div class="row row--center-y gap--small">
    <span class="label label--small label--filled mbta-pill">RL</span>
    <span class="description" data-clamp="1">{{ subway_status }}</span>
  </div>

  {% if live_alerts.size > 0 %}
  <div class="divider"></div>
  <div class="description" data-clamp="2">{{ live_alerts[0].header | truncate: 80 }}</div>
  {% endif %}
</div>
